body {
  background-image: url("images/background_gizz.png"); /* credit to u/lewjrew for background image*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6%;
  padding-top: 5%;
}

#mainContainer {
  margin: 0 0 0 auto;
  /* max-width: 55%; */
  border-radius: 5rem;
  background: lightgray;
  padding: 10%;
  box-shadow: 7px 7px 5px black, -7px -7px 5px black;
  object-fit: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#mainTitle {
  font-size: larger;
}

.txtimgContainer {
  display: flex;
  padding: 5%;
  justify-content: space-around;
  align-items: center;
  float: left
  white-space: no-wrap;
  /* padding-top: 3%;
    padding-bottom: 3%; */
  /* padding: 5%; */
}

.txtimgContainer img {
  width: 15rem;
  /* object-fit: cover; */
  border-radius: 5rem;
  border: 3px solid black;
}

.text {
  width: 60%;
}
